.body-jsandco {
  background-color: #00adff;
  transition: background-color 2s ease;
  margin: 0;
}

.body-jsandco.second {
  background-color: #000000 !important;
}

.body-jsandco.third {
  background-color: #d8d8d8 !important;
}

.body-jsandco.fourth {
  background-color: #121212 !important;
}

.body-jsandco.fifth {
  background-color: #1f1f1f !important;
}

.body-jsandco.sixth {
  background-color:  #111111!important;
}