.jsandco-first {
  .jsandco-first-js {
    top: 0; 
    z-index: 0;



    .jsandco-first-js-title {
      width: 40vw;
    }

    @media screen and (max-width: 580px) {
      .jsandco-first-js-title {
        width: 70vw;
      }
    }

    .jsandco-first-js-text {
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
      transform: translate(0px, 36vh);
      text-transform: uppercase;

      position: fixed;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: stretch;
      align-items: center;

      .jsandco-first-js-text-title {
        margin: 0;
        font-family: 'Raleway', sans-serif;
      }

      .jsandco-navigation-list-item-link {
        background: black;
        color: #068fe9;
        font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        padding: 15px 30px;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        margin: 10px;   
        text-decoration: none;
      }
    }
  }
}


