.jsandco-second-js-box-row-svg {
  path {
    fill:url(#logo-gradient) !important;
  }

  rect {
    fill:  #ececec !important;
  }
}

.jsandco-second-js-box-row-svg.third {
  path {
    fill: url(#logo-gradient) #fff !important;
  }

  rect {
    fill: #ececec !important;
  }
}

.jsandco-second-js-box-row-svg.fourth {

  path {
    fill: url(#logo-gradient) #fff !important;
  }

  rect {
    fill: #101010 !important;
  }
}

.jsandco-second-js-box-row-svg.fifth {

  rect {
    fill: #dbdbdb !important;
  }
}



.jsandco-second-js-box-row-svg.sixth {

  rect {
    fill: rgb(255, 251, 0)!important;
  }
}